
$serif: 'PT Serif', Georgia, serif;
$sans: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
$mono: 'Fira Mono', 'Source Code Pro', Courier, monospace;

$title-font: 'Abril Fatface', serif;

//TODO: tooltip-font:
//TODO: nav-font
